body {    
    background-image: url("/images/background_light.jpg");
}

.quizArea {
    margin-top: 7rem;
}

.quizAnswerArea {
    height: 500px;
}

a {
    color: black;
    text-decoration: none; /* no underline */
  }

.bg-quiz{
    background-color: RGBA(218, 221, 152, 0.7);
}

.imgDeco1 {
    height: 200px;
    width: 600px
}

.imgDeco2 {
    height:550px;
}

.imgDeco3 {
    height:250px;
    width: 700px;
    margin-left: 550px;
}

.imgDeco4 {
    height:100px;
    width: 100px;
    margin-bottom: 610px;
}

/* div overlapping test
.decoRow {
    position: relative;
    z-index: 0;
}

.buttonROW {
    position: relative;
    z-index: 1;
}
*/

/* Button adjustments */

.btn-back {
    background: rgb(150,150,150);
}

.btn-back:hover {
    background: rgb(100,100,100);
}

.btn-new {
    background: rgb(255,150,150);
}

.btn-new:hover {
    background: rgb(255,0, 0);
}

.btn-next {
    background: rgb(150,255,150);
}

.btn-next:hover {
    background: rgb(0,255,0);
}

