body {    
    background-image: url("/images/background_light.jpg");
}

.quizArea {
    margin-top: 8rem;
}

.quizAnswerArea {
        height: 500px;
}

a {
    color: black;
    text-decoration: none; /* no underline */
  }

.bg-quiz{
    background-color: RGBA(218, 221, 152, 0.7);
}

.imgDeco1 {
    height: 200px;
}

.imgDeco2 {
    height: 500px;
}

